@use '../stylesVar/colors' as colors;

.nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	height: 7.2rem;
	width: 100%;
	background-color: colors.$primary-white;
	font-family: 'Inter', sans-serif;
	backdrop-filter: blur(8px);
	z-index: 100;
	--bs-navbar-padding-y: 0rem;
	// overflow: hidden;
	&__container {
		height: 100%;
		margin: 0;
		padding: 1.6rem 12rem;
		max-width: 1440px;
		--bs-gutter-x: 0;
	}
	&__brand {
		padding: 0;
		margin: 0;
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 120%;
		color: colors.$primary-text-color;
	}
	&__list {
		justify-content: center;
		width: 100%;
		gap: 9.6rem;
		&--item {
		position: relative;
			padding: 0.8rem 1.6rem;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 150%;
			color: colors.$primary-text-color;
			cursor: pointer;
			&,
			&::after,
			&::before {
				transition: 0.3s;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: colors.$primary-text-color;
				transition: transform 0.3s;
				transform: scaleX(0);
				transform-origin: right;
			}
			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
			&:hover {
				color: colors.$primary-text-color;
			}
			&:focus{
				border-radius: .4rem;
				color: colors.$primary-text-color;
				background-color: #00473E12;
			}
		}
	}
	&--border {
		border-bottom: 1px solid colors.$border-nav-color;
		background-color: colors.$nav-blur-bg;
	}
}
